$background-color: #c8c8e8;
$text-color: #222;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: $background-color;
}

.container {
    background-color: rgba($color: black, $alpha: 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    max-width: 30vw;
    border-radius: 1rem;
    max-height: 20vh;
    margin: 0 auto;
    margin-top: 5rem;

    h1,
    p {
        color: $text-color;
    }

    a {
        color: $text-color;
    }
}
